
:root {
  --header-font: "Poppins";
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h2,
h1 {
  margin: 0;
  padding: 0;
}

/* Work Section */

.container-2 {
  background: #000;
  display: grid;
  width: 100%;
  padding: 114px 0;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  width: 87.6%;
  border-radius: 8px;
  margin: 0 auto;
  padding: 24px;
}

.tech {
  display: flex;
  width: fit-content;
  gap: 12px;
  padding: 0;
}

.tech li {
  background: #EBEBFF;
  border-radius: 8px;
  padding: 8px 12px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
}

.tech li:last-child {
  margin-right: 0;
}



.sec-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ton-del {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.education {
  display: flex;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.education .cano {
  color: #344563;
}

.education li {
  padding-right: 10px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.education li:last-child {
  padding-right: 0;
}

.sec-content p {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.button {
  padding: 12px;
  width: fit-content;
  border-radius: 8px;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396DF2;
  border: 1px solid #6070FF;
  margin-bottom: 24px;
}

.button:hover {
  background-color: #6070FF;
  color: #fff;
  border:none;
}

.button:focus {
  background: #2230D2;
  color: #fff;
}

.container-About {
  width: 100%;
  padding: 114px 0;
  border-top-right-radius: 80px;
}

.society {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 87%;
  margin: 0 auto;
}